*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#eef4fb;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    margin:0;

}

.login-box{
    width:420px;
    background:#ffffff;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.login-box h1{
    color:#0056b3;
    text-align:center;
    margin-bottom:10px;
}

.dashboard h1{
    color:#0056b3;
    text-align:center;
    font: size 34px;
    margin-bottom:10px;
}

.subtitulo{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
    font-weight:bold;
    color:#333;
}

input[type=text],
input[type=password]{

    width:100%;
    padding:14px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}

input:focus{

    outline:none;
    border-color:#0056b3;
    box-shadow:0 0 5px rgba(0,86,179,.3);

}

.password-box{

    position:relative;

}

.password-box i{

    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#777;

}

.password-box i:hover{

    color:#0056b3;

}

.remember{

    display:flex;
    align-items:center;
    gap:10px;
    margin-top:20px;

}

.remember input{

    width:18px;
    height:18px;

}

button{

    width:100%;
    margin-top:25px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#0056b3;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;

}

button:hover{

    background:#004494;

}

#mensagem{

    margin-top:20px;
    text-align:center;
    font-weight:bold;

}

.sucesso{

    color:green;

}

.erro{

    color:red;

}

@media(max-width:600px){

.login-box{

width:95%;
padding:25px;

}

}

.opcao{

    margin-top:20px;

    font-size:18px;

}

.opcao label{

    cursor:pointer;

}

.opcao input{

    margin-right:10px;

}

/* ===========================
   PÁGINA INICIAL
=========================== */

.home{

    width:600px;
    background:#ffffff;
    padding:50px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    text-align:center;

}

.home h1{

    color:#0056b3;
    margin-bottom:20px;
    font-size:38px;

}

.descricao{

    font-size:18px;
    color:#555;
    line-height:30px;
    margin-bottom:40px;

}

.home button{

    width:220px;

}

@media(max-width:700px){

    .home{

        width:95%;
        padding:30px;

    }

    .home h1{

        font-size:30px;

    }

}

#contador{

    text-align:center;

    margin-top:20px;

    font-size:20px;

    color:#0056b3;

    font-weight:bold;

}

#btnReenviar{

    background:#777;

}

#btnReenviar:hover{

    background:#555;

}

/* =====================================
   DASHBOARD
===================================== */

.dashboard{

    width:1200px;
    max-width:95%;
    margin:30px auto;
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    width:1200px;
    max-width:95%;
    margin:30px auto;

}

.card{

    background:#ffffff;

    border-left:6px solid #0056b3;

    padding:30px;

    margin-top:25px;

    border-radius:20px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.card h3{

    color:#0056b3;
    margin-bottom:15px;

}

.card p{

    margin:10px 0;
    font-size:17px;

}

.saldoTitulo{

    color:#666;
    margin-top:10px;

}

#saldo{

    color:#138a36;

    font-size:32px;

    font-weight:700;

    margin-top:5px;

}
/* =============================
   TABELA
============================= */

table{

    width:100%;
    border-collapse:collapse;
    margin-top:15px;

}

table th{

    background:#0056b3;
    color:white;
    padding:12px;

}

table td{

    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:center;

}

table tr:hover{

    background:#eef5ff;

}

/* =============================
   RESPONSIVO
============================= */

@media(max-width:700px){

.dashboard{

    padding:20px;

}

table{

    font-size:14px;

}

}

#btnLogout{

    width:220px;

    display:block;

    margin:35px auto;

}

/* ==========================
   GRID DO DASHBOARD
========================== */

.dashboard-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:25px;

    margin-top:25px;

}

.principal{

    margin-top:30px;

}

@media(max-width:900px){

.dashboard-grid{

    grid-template-columns:1fr;

}

}

/*==========================
TOPO
==========================*/

.topo{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    margin-bottom:35px;

}

.titulo{

    display:flex;

    flex-direction:column;

    align-items:flex-start;

}

.tituloBanco{

    text-align:left;

    margin:0;

}

.subtitulo{

    text-align:left;

    margin-top:8px;

    color:#666;

}

.perfil{

    display:flex;

    align-items:center;

    gap:15px;

}

.avatar{

    width:70px;

    height:70px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid #0056b3;

}

.cargo{

    color:#666;

    margin-top:5px;

}

/*==========================
 CARTÃO DO SALDO
==========================*/

.saldo-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:30px;

}

.card-left{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.user-info{

    display:flex;

    align-items:center;

    gap: 20px;

}

.user-info h2{

    font-size:24px;

    margin:0;

}

.user-icon{

    width:55px;

    height:55px;

    border-radius:50%;

    background:#f3efff;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:26px;

}

.wallet-icon{

    width:70px;

    height:70px;

    border-radius:50%;

    background:#eef4ff;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:30px;

}

#saldo{

    color:#138a36;

    font-size:32px;

    font-weight:bold;

    margin-top:5px;

}

.saldoTitulo{

    color:#666;

    font-size:18px;

}

.user-info{

    display:flex;

    align-items:center;

    gap:18px;

}

.card-left{

    flex:1;

}

.card-right{

    display:flex;

    justify-content:center;

    align-items:center;

    padding-left:20px;

}

.dashboard-page{

    display:block;

}